
.container{
    width: 100vh;
    display: grid;
    height: 30vh;
    
}

body {
    
    margin: 0%;
    padding: 0%;
    width: 100vh;

 }

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: rgb(126, 57, 18)
}

.formulario{
    padding: 10px;
    width: 230px;
    margin: 10px auto;
    border: 5px solid rgb(126, 57, 18);
    
}

.logotipo{
text-align: center;
padding: 0px;
margin: 0px;
    
}
    
.botao-entrar{
    width: 190px;
    margin: 10px auto;

}

button{
 cursor: pointer;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 14px;
 text-transform: uppercase;
 font-weight: 700;
 border: none;
 padding: 9px;
 width: 200px;
 margin: 0px auto;
}

button{
    background-color: rgb(126, 57, 18);
    color: #fff;
    box-shadow: 0 5px 0 rgb(63, 29, 10);
}

.botao-entrar:active {
position: relative;
top: 5px;
box-shadow: none;
}