body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px rgba(187, 132, 92, 0.884) solid;
  padding-bottom: 2px;
  text-align: center;
  align-items:center;
  flex-wrap: wrap;
}
.logo-header, .carrinho{
  flex: .2

}
img{
  width: 100px;
}

.container-itens{
  flex:.9;
  flex-wrap: wrap;
}

ul{
  display: flex;
  padding: 10px;
  
}

li{
  /* background-color: #c9794ef6; */
  color: #9b6041f6;;
  width: 100px;
  padding: 10px;
  gap: 3px;
  border-radius: 30px;
  border: 1px solid 
}
li:hover{
  background-color: #9b6041f6;
  color: rgb(255, 255, 255);
  transition: 0.2s;
  

}
.lista-itens-mercado{
  display: flex;
  justify-content: space-around;
  list-style: none;
  
}

.header-input{
  padding: 10px;
  flex: .7;
}

input{
  padding: 15px;
  width: 80%;
  border: 1px solid #66260452;
  border-radius: 5px;
}

footer{
  background-color: #9b6041f6;
  color:rgb(255, 255, 255);
  display: flex;
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  height: 50px;

}
.logo-footer{
  flex:.2;
}
.img-footer{
  width: 50px;
}

main, a {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-decoration: none;
  


}
.produtos{
  border: 1px solid #e0e0e0;
  flex: .2;
  border-top: 4px solid rgb(182, 121, 72);
  margin: 10px;
  height: 320px;
  text-align: center;
  border-radius: 3px; 
  box-shadow: 0px 0px 8px 2px #7a737348;
}

.btn-comprar{
  display: flex;
  background-color: #9b6041f6;
  border-radius: 3px;
  width: 200px;
  justify-content: space-around;
  border: 2px solid rgb(194, 172, 155);
  margin-left: 7px;
  padding: 10px;
  color: aliceblue;
}
span{
  font-size: 30px;
}

a:hover {
  font-size:1.2em;
  color: white;
  text-decoration: none;
  transition-timing-function: ease-in-out;}


.carrinho{
  width: 40px;
  margin-right:20px;
  

  
}