/*Estilos do gerais*/
*{
    padding: 0px;
    margin: 0px;
}


/*Estilos do cabeçalho*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    padding: 6px;
    border-bottom: 1px solid;
    border-color: #9b6041f6;
}

#login-carrinho{
    height: 40px;
    display: flex;
    align-items: center;
}

#logo-cabecalho{
    width: 80px;
}

#carrinho-compra{
    height: 40px;
    margin-left: 6px;
    margin-right: 8px;
}

.link-login{
    background-color: #ffffff;
    height: 40px;
    width: 70px;
    color: #633c27;
    border: solid 1px;
    border-color: #9b6041f6;
    border-radius: 10px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    cursor: pointer;
}

.link-login:hover {
    background-color: #9b6041f6;
    height: 40px;
    width: 70px;
    color: #ffffff;
    border: solid 1px;
    border-color: #9b6041f6;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    cursor: pointer;;
}
/*---THE END (Estilos do cabeçalho)---*/

/*Estilos do menu*/
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 6px;
    width: 1280px;
}
.menu{
    width: 100px;
    height: 70px;
    border: solid 1px;
    border-color: #9b6041f6;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    color: #633c27;
    box-shadow: 2px 2px 2px 2px darkgray
}

.menu:hover{
    cursor: pointer;
}

.link-menu:link{
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    text-decoration: none;
}

.link-menu:visited{
    color: #633c27;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}


.icon-menu{
    width: 50px;
    height: 50px;
}

/*---THE END (Estilos do menu)---*/

/*Estilos do conteúdo home*/

main{
    width: 1280px;
}

#todos-anuncios{
    display: flex;
    justify-content: space-around;
}

.anuncio{
    width: 400px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #633c27;
    font-size: 19px;
    text-align: center;
    padding: 6px 6px 6px 6px;
    margin: 6px 6px 6px 6px;
    box-shadow: 3px 3px 3px 3px darkgray
}

.img-anuncio{
    width: 350px;
    height: 230px;
    border: none;
    border-radius: 10px;
}

#sobre{
    margin-top: 8px;
    border-top: 4px solid;
    border-color: #9b6041f6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #633c27;
    font-size: 19px;
    display: flex;
    align-items: center
}

#img-logo{
    width: 250px;
}

/*---THE END (Estilos do conteúdo home)---*/

/*Estilos do rodapé*/
footer{
    background-color: #9b6041f6;
    width: 1280px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffffff;
    padding: 6px;
    text-align: center;
}

#contatos{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.redes-rodape{
    width: 30px;
    height: 30px;
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

#icones-redes{
    text-align: center;
    border-right: 1px solid;
    border-color: #ffffff;
    padding-right: 6px;
    width: 640px;
    margin-right: 250px;
}
/*---THE END (Estilos do rodapé)---*/